name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node
    - name: Install modules
      run: yarn
    - name: Lint
      run: eslint .
